<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Chat Box -1</h5>
    <p class="card-text">You can chat with chatbox-2</p>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        #chatRef
      />
      <button
        class="btn btn-outline-success"
        (click)="send(chatRef); $event.preventDefault()"
      >
        Send
      </button>
    </form>
  </div>
  <ng-container *ngFor="let message of chatMessages">
    <li
      class="list-group-item"
      [ngClass]="message.sender == 'chatbox1' ? 'text-end' : 'text-start'"
    >
      <ng-container *ngIf="message.sender != 'chatbox1'">
        {{ message.sender }} : {{ message.message }}</ng-container
      >
      <ng-container *ngIf="message.sender == 'chatbox1'">
        Me : {{ message.message }}</ng-container
      >
    </li>
  </ng-container>
</div>
