<nav class="navbar navbar-dark bg-primary mb-5">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://pbs.twimg.com/profile_images/378800000766564568/6f1778b7c854e65c27f539e64369c5d3_400x400.jpeg"
        alt=""
        width="30"
        height="24"
      />
    </a>
    <p class="text-white">SK AMINUL ISLAM</p>
  </div>
</nav>
<div class="container">
  <h2 class="mb-5">
    All Component Communication Using Service witn RxJs Subject and Obsrvable
  </h2>
  <div class="row">
    <div class="col"><app-grand-parent></app-grand-parent></div>
    <div class="col"><app-parent></app-parent></div>
    <div class="col"><app-child></app-child></div>
  </div>
</div>
<p class="text-center mt-3">
  If you type any text and send then the timer will stop and auto Subscribe and
  Auto Send also stop then only manual communication among the componets will
  continue.
</p>
